.article__header {
  
   //   background-color: #222222;
     max-width: 1200px;
     width: 98%;
     height: 8.8em;
     overflow: hidden;
     font-weight: lighter;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     color: #ffffff;
     font-style: italic;
     font-family: 'Roboto', sans-serif;

     width: 100%;
     background:#222 url('https://www.toptal.com/designers/subtlepatterns/tactile-noise/');
     border-bottom: 3px solid #ccc;

     @media screen and (max-width: 500px) {
        font-size: 0.7rem;
        height: fit-content;
        padding: 0.7rem 0;
     }
}


.article__author {
    font-size: 0.9em;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color:#ccc;
    line-height: loose;
    margin-top: 0.5em;
    letter-spacing: 5px;
    font-weight: lighter;
    width: 40%;
    text-align: center;
    padding:0.3em;
    
    border-top: gray 1px dotted;
    border-bottom: gray 1px dotted;

    @media screen and (max-width: 500px) {
       display: none;
     }
}

.article__content {
   max-width: 750px;
   margin: 40px auto;
   padding: 0;
}

.date {
   float: left;
   width: 10%;
   color: #444;
   text-align: center; 
   span {

   }
}